.posts {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.containerPagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

ul[role="navigation"] {
    display: flex;
    list-style: none;
}

li a {
    border-radius: 2px;
    padding: 0.1rem 1rem;
    border: gray 1px solid;
    cursor: pointer;
}

li.previous a,
li.next a,
li.break a {
    border-color: transparent;
}

li.selected a {
    background-color: #0366d6;
    border-color: transparent;
    color: white;
    min-width: 32px;
}

li.disabled a {
    color: grey;
}

li.disable,
li.disabled a {
    cursor: default;
}